.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination {
  margin: auto;
  margin-top: 1em;
  width: fit-content;
}


.search {
  margin: auto;
  margin-top: 1em;
  width: fit-content;
}